@media (max-width: 639px) and (orientation: portrait) {
    section {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    section {
        width: 80vw;
        height: 100%;

        overflow-y: auto;
    }
}