@media (max-width: 639px) and (orientation: portrait) {
    a {
        width: 100%;
    }

    article h2 {
        font-size: 1.3em;
    }

    article {
        transition: 0.3s;
        
        margin-block: 5%;
        margin-inline: 5%;

        width: 90%;
        height: 18vh;

        border-radius: 1em;

        background: var(--foreground-clean);
        backdrop-filter: blur(5em);

        display: flex;
        text-align: center;
        justify-content: center;
    }

    article p {
        display: none;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    article {
        transition: 0.3s;
        
        margin: 5%;
        width: 75%;
        height: 30vh;

        border-radius: 1em;

        background: var(--foreground-clean);
        backdrop-filter: blur(5em);

        display: flex;
    }

    article:hover {
        transform: scale(1.02);
    }

    article div {
        display: flex;
        flex-direction: column;
    }

    article p {
        margin: 0;
        margin-top: 1%;
        padding: 0;
    }

    article div:first-child {
        margin-inline: 3%;
        width: 50%;
        height: 100%;
    }

    article div:first-child h2 {
        margin-bottom: 1%;
        font-family: "Raleway";
    }

    article div:last-child {
        width: 50%;
        height: 100%;

        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        
        flex-direction: row-reverse;

        font-family: "Raleway";
    }

    small {
        color: var(--text-secondary);
        font-family: "Source Code Pro";
    }
}