/* Desktop */
@media (min-width: 800px)
{
    nav {
        width: 100%;
        height: 10vh;
    
        background: var(--foreground);
        backdrop-filter: blur(5em);
    
        display: flex;
        justify-content: center;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
    
        width: 35%;
        height: 100%;
    
        display: flex;
        align-items: center;
    
        list-style-type: none;
    }
    
    nav ul li {
        transition: 0.5s;
        cursor: pointer;
    
        height: 90%;
    
        margin: 0;
        padding: 0;
        padding-inline: 5%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        border: 0.2em solid transparent;
        border-radius: 0.1em;
    }
    
    nav ul li:hover {
        border-bottom: 0.2rem solid var(--blue-sky);
    }
    
    nav ul:first-child {
        flex-direction: row;
    }
    
    nav ul:last-child {
        flex-direction: row-reverse;
    }
    
    nav ul #title {
        font-family: "MuseoModerno";
        font-size: 1.5em;
    }
    
    nav ul #title:hover {
        border: 0.2em solid transparent;
    }
}